
.navbar{
    display: flex;
    justify-content: end;
    gap: 30vh;
    list-style: none;
    cursor: pointer;
    align-items: center;
    color: brown;
}
.navbar a{
    display: inline block;
    font-size: 25px;
    color: blue;
    font-weight: 500;
    transition: al
}

body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYH-hJ_XS1_jLObJOOzRIgdGONHcN9mEzGLDR-8r7RdQ&);
    background-repeat: no-repeat;
    background-size: cover;
}
nav.a:hover{
    color: orange;
}
